<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../form.css">
    <title>Form Validation</title>
</head>

<body>
    <div class="container">
        <form action="/postProfile" id="form" class="form" method = "POST">
            <h2>Register with us</h2>
            <div class="form-control">
                <label for="name">User Name</label>
                <input type="text" name = "name" placeholder="Enter username">

            </div>

            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" name = "email" placeholder="Enter your email">

            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>


</html>