*{
    margin: 0;
    padding:0;
}
body{
    box-sizing: border-box;
    background-color: lavender;
}
img{
    display: block;
    margin: auto;
    max-width: 100%;
    object-fit: cover;
}
.outer{
    margin: 10px auto;
    width: 90%;
}
.overview{
    margin-bottom: 20px;
}
.overview h1{
    margin-bottom: 10px;
}
.overview .pictures{
    display: flex;
    
}
.pictures .pic{
    flex: 1;
    opacity: 0.8;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
}
.pic:hover{
    opacity: 1;
}


.activity .act{
    display: flex;
    
    margin-bottom: 20px;
}

.act .pic{
    flex: 0 0 200px;
    margin-right: 20px;
}
.act img{
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
}
